<!-- Nuestra Misión -->
<section class="nuestra-mision" aria-labelledby="nuestra-mision-title">
    <h2 id="nuestra-mision-title">🐶 Nuestra misión 🐱</h2>
    <p>Nuestra misión es clara y poderosa: transformar vidas. Trabajamos en estrecha colaboración con refugios y hogares
        de acogida para garantizar que cada animal reciba el cuidado y la atención que merece antes de unirse a una
        familia amorosa.</p>

    <h3>Lo que ofrecemos:</h3>

    <div class="card-container">
        <div class="card">
            <img src="assets/nuestraMision-card2/adopcionesResponsables.jpg" class="card-img-top" alt="Adopciones responsables">
            <div class="card-body">
                <p class="card-text"><strong>Adopciones responsables:</strong> Creamos conexiones únicas entre mascotas
                    y adoptantes, asegurando que ambos formen un vínculo perfecto.</p>
            </div>
        </div>

        <div class="card">
            <img src="assets/nuestraMision-card2/apoyoPersonalizado.jpg" class="card-img-top" alt="Apoyo personalizado">
            <div class="card-body">
                <p class="card-text"><strong>Apoyo personalizado:</strong> Te acompañamos en cada paso del proceso para
                    facilitar la adaptación de tu nuevo amigo peludo.</p>
            </div>
        </div>

        <div class="card">
            <img src="assets/nuestraMision-card2/historiasInspiradoras.jpg" class="card-img-top" alt="Historias inspiradoras">
            <div class="card-body">
                <p class="card-text"><strong>Historias inspiradoras:</strong> Conoce relatos conmovedores de adopciones
                    exitosas que llenan de esperanza y alegría.</p>
            </div>
        </div>
    </div>
</section>
