<app-nav-bar></app-nav-bar>
<app-banner></app-banner>

<header class="header">
    <div class="container-baner">
        <div class="content-baner">
            <h1 class="title-baner"><strong>Furry Tails</strong></h1>
            <h2 class="subtittle-baner">La Felicidad en Cuatro Patas</h2>
            <section class="container-mainBaner">
                <blockquote>
                    <p class="text-banner">
                        "Adoptar no solo transforma la vida de un animal, sino que también llena el corazón humano de amor, lealtad y aventuras sin fin; porque cada mascota rescatada es un héroe esperando su historia en tu hogar."
                    </p>
                    <cite>Edna Rocio</cite>
                </blockquote>
            </section>
            <div class="container-button">
                <ul>
                    <li>
                        <a href="#" class="btn btn-primary">Saber Más</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<main class="main">
    <section id="contact">
        <h2>Contáctanos</h2>
        <form action="#" method="post">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Mensaje:</label>
            <textarea id="message" name="message" required></textarea>

            <button type="submit">Enviar</button>
        </form>
    </section>
</main>

<app-footer></app-footer>
