<section class="faq" aria-labelledby="faq-title">
    <a href="/paws">
        <h2 id="faq-title">Preguntas Frecuentes ❓❓</h2>
        <div class="faq-cards">
            <div class="card">
                <img src="assets/preguntasFrecuentes/img1.jpg" class="card-img-top" alt="Icono de adopción">
                <div class="card-body">
                    <h3>¿Cómo puedo adoptar una mascota?</h3>
                    <p class="card-text">Explora nuestro catálogo, completa el formulario de adopción, y nuestro equipo
                        se encargará de guiarte en el proceso.</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/preguntasFrecuentes/img2.jpg" class="card-img-top" alt="Icono de requisitos">
                <div class="card-body">
                    <h3>¿Qué requisitos necesito cumplir?</h3>
                    <p class="card-text">Ser mayor de edad, llenar un formulario y demostrar que puedes ofrecer un hogar
                        estable y amoroso.</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/preguntasFrecuentes/img3.jpg" class="card-img-top" alt="Icono de animales disponibles">
                <div class="card-body">
                    <h3>¿Qué tipo de animales están disponibles para adopción?</h3>
                    <p class="card-text">Tenemos perros, gatos y otros animales que buscan un hogar amoroso. Consulta
                        nuestro catálogo para más detalles.</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/preguntasFrecuentes/img4.jpg" class="card-img-top" alt="Icono de tiempo de adopción">
                <div class="card-body">
                    <h3>¿Cuánto tiempo demora el proceso de adopción?</h3>
                    <p class="card-text">El proceso de adopción puede tomar entre 1 y 2 semanas, dependiendo de los
                        requisitos y la disponibilidad de los animales.</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/preguntasFrecuentes/img5.jpg" class="card-img-top" alt="Icono de apartamentos">
                <div class="card-body">
                    <h3>¿Puedo adoptar una mascota si vivo en un apartamento?</h3>
                    <p class="card-text">Sí, siempre que puedas proporcionar un ambiente adecuado para la mascota. El
                        tamaño y las necesidades del animal deben ser consideradas.</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/preguntasFrecuentes/img6.jpg" class="card-img-top" alt="Icono de cuidado de mascotas">
                <div class="card-body">
                    <h3>¿Cómo puedo cuidar a mi nueva mascota después de la adopción?</h3>
                    <p class="card-text">Una vez que adoptes una mascota, es importante proporcionarle atención
                        veterinaria regular, una dieta balanceada, ejercicio, y mucho amor. No olvides crear un ambiente
                        seguro y adecuado para su bienestar.</p>
                </div>
            </div>
        </div>
    </a>
</section>