<header class="navbar navbar-expand-lg bg-body-tertiary navbar-scroll contenedor-navBar">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
            <img src="assets/logo.png" alt="Logo" class="mi-logo">
        </a>

        <!-- Botón para colapsar el menú en pantallas pequeñas -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú de navegación -->
        <nav class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active estilo-nav" aria-current="page" routerLink="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active estilo-nav" routerLink="/paws">Paws</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active estilo-nav" routerLink="/sobre-nosotros">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active estilo-nav" routerLink="/blog">Blog</a>
                </li>
            </ul>
        </nav>

        <!-- Botón de Login -->
        <a routerLink="/login">
            <button class="btn btn-success me-2 boton-Login" aria-label="Iniciar sesión">Login</button>
        </a>
    </div>
</header>