<section class="banner">
    <div class="banner-content">
        <h1><strong class="pab1">F</strong>
            <strong class="pab2">U</strong>
            <strong class="pab4">R</strong>
            <strong class="pab5">R</strong>
            <strong class="pab3">Y</strong>

            <strong class="pab4"> T</strong>
            <strong class="pab3">A</strong>
            <strong class="pab1">I</strong>
            <strong class="pab5">L</strong>
            <strong class="pab2">S</strong>
        </h1>
        <p class="motivational-text">"Adoptar es regalar una nueva oportunidad a una vida que merece ser amada y cuidada. Tu amor puede cambiar su mundo para siempre. ¡Haz la diferencia y adopta hoy!"</p>
        <img src="assets/logo1.png" alt="Logo Banner" class="logo1"> 
        <a routerLink="/paws" class="cta-btn">Conoce Más</a>
    </div>
</section>
