<p>pet-card works!</p>
<!-- Cree el html para mostrar el contenido que necesita -->

<!-- el nfFor me recorre elementos dentro de un arreglo -->
<!-- <div class="row">
    <div *ngFor="let Mascotas of allMascotas"  class="col">
        <div class="card" style="width: 18rem;">
        
            <img src="assets/pawsAssets/contenedorLucas.png" class="card-img-top"
                alt="...">
        
            <div class="card-body">
                <h5 class="card-title">{{Mascotas.nombre}}</h5>
                <h6>{{Mascotas.raza}}</h6>
                <h6>{{Mascotas.estaAdoptado ? "adoptado" : 'no adoptado'}}</h6>
                <h6>{{Mascotas.edad}}</h6>
                <h6>{{Mascotas.propietario}}</h6>
        
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        
        </div>
    </div>
</div> -->

<img src="assets/pawsAssets/contenedorLucas.png" alt="">

<body>
    <main class="main-content">
        <section class="intro">
            <h2>¡Bienvenido a Furry Tails!</h2>
            <p>
                En Furry Tails, nos dedicamos a conectar mascotas en busca de un hogar amoroso con familias que desean
                darles una segunda oportunidad. Explora nuestras opciones de adopción y encuentra el compañero perfecto
                para ti.
            </p>
        </section>

        <section class="pet-gallery">
            <h3 class="titulo"> Nuestras mascotas disponibles</h3>
            <div class="gallery">
                <div class="pet-card">
                    <img src="assets/pawsAssets/contenedorTequila.png" alt="Tequila">
                    <h4>¡Conoce a Tequila, el Compañero Perfecto que Estás Buscando! 🐾</h4>
                    <p>Tequila es un perro cariñoso y amigable que busca un hogar lleno de amor. Le encanta jugar al
                        aire libre, pasear y recibir mimos. Es muy sociable tanto con personas como con otros animales,
                        lo que lo convierte en el compañero ideal para familias o individuos activos. Está vacunado,
                        esterilizado y en excelente estado de salud. ¡No pierdas la oportunidad de darle a Tequila el
                        hogar que se merece!</p>
                        <section class="container-button">
                            <div class="buttonAdoptame">
                                <a href="/contactanos/contactanos.html" class="login">Adóptame</a>
                            </div>
                            <div class="buttonDoname">
                                <a href="/contactanos/contactanos.html" >
                                    Dóname <i class="fas fa-paw"></i>
                                </a>
                            </div>
                        </section>
                </div>
                <div class="pet-card">
                    <img src="assets/pawsAssets/Ginebra.png" alt="Ginebra">
                    <h4>
                        ¡Ginebra es una hermosa gatita llena de ternura y curiosidad! 🐱💖
                    </h4>
                    <p>Ginebra está vacunada, desparasitada y esterilizada. Busca un hogar lleno de amor donde pueda dar
                        todo su cariño. Si estás interesado en darle una segunda oportunidad y mucho amor, ¡contáctanos!
                    </p>
                    <section class="container-button">
                        <div class="buttonAdoptame">
                            <a href="/login/login.html" class="login">Adóptame</a>
                        </div>
                        <div class="buttonDoname">
                            <a href="/contactanos/contactanos.html" >
                                Dóname <i class="fas fa-paw"></i>
                            </a>
                        </div>
                    </section>
                </div>
                <div class="pet-card">
                    <img src="assets/pawsAssets/contenedorWiskey.png" alt="Whisky">
                    <h4>¡Conoce a Whisky, el Gato que Llenará tu Hogar de Cariño y Aventura! 🐱💫</h4>
                    <p>Whisky es un gato curioso y cariñoso que está en busca de un hogar donde pueda disfrutar de todas
                        sus travesuras felinas. Le encanta explorar su entorno, jugar y luego relajarse en un lugar
                        cómodo. Whisky es muy sociable con personas y otros gatos, lo que lo convierte en el compañero
                        perfecto para cualquier tipo de hogar. Está esterilizado, vacunado y listo para formar parte de
                        tu vida. ¡Adopta a Whisky y dale la oportunidad de mostrarte todo su amor!</p>
                        <section class="container-button">
                            <div class="buttonAdoptame">
                                <a href="/login/login.html" class="login">Adóptame</a>
                            </div>
                            <div class="buttonDoname">
                                <a href="/contactanos/contactanos.html" >
                                    Dóname <i class="fas fa-paw"></i>
                                </a>
                            </div>
                        </section>
                </div>
                <div class="pet-card">
                    <img src="assets/pawsAssets/contenedorLucas.png" alt="Lucas">
                    <h4>¡Conoce a Lucas, el Gato que Robará tu Corazón! 🐱💖</h4>
                    <p>Lucas es un gato tranquilo y cariñoso que está en busca de un hogar donde pueda recibir todo el
                        amor que tiene para dar. Es muy independiente, pero cuando se siente cómodo, disfruta de largas
                        siestas en compañía. Lucas es sociable, tanto con otros gatos como con humanos, y es perfecto
                        para quienes buscan un amigo fiel y silencioso. Está esterilizado, vacunado y listo para
                        mudarse.</p>

                        <section class="container-button">
                            <div class="buttonAdoptame">
                                <a href="/login/login.html" class="login">Adóptame</a>
                            </div>
                            <div class="buttonDoname">
                                <a href="/contactanos/contactanos.html" >
                                    Dóname <i class="fas fa-paw"></i>
                                </a>
                            </div>
                        </section>
                </div>
            </div>
        </section>

        <section class="cta">
            <img class="animalitos" src="assets/pawsAssets/animales.png" alt="animales">
            <h3>¿Listo para adoptar?</h3>
            <p>No esperes más para cambiar la vida de una mascota. ¡Da el primer paso y contáctanos hoy mismo para saber
                más sobre el proceso de adopción!</p>
            <div class="button">
                <a href="/login/login.html" class="login">Adóptame</a>
            </div>

        </section>
    </main>



   
